current_task.md
node_modules/

# Testing folders
config/logs/
dl_models/
dummy_data/
playground*

# Temps
.qodo
.ruff_cache
.cache
__pycache__
.hf_cache
.gradio
.putest_cache

# Security
.env

# Data Files
mlflow.db
*.pt