fastapi
uvicorn
gunicorn
websockets  

ultralytics

pydantic
pydantic_settings
structlog

tracking_system@git+https://github.com/E1250/p-tracking_system.git@main

redis
upstash_redis
prometheus_client

numpy 
pandas
mlflow
huggingface_hub 