# Web
fastapi
uvicorn
gunicorn
websockets

# AI
ultralytics
tracking_system@git+https://github.com/E1250/p-tracking_system.git@main

# Arch
pydantic
pydantic_settings
structlog


redis
upstash_redis

# Logging & Monitoring
prometheus_client
dagshub
mlflow

numpy 
pandas
huggingface_hub 